.forme{
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

   

}
.inputi{
   
    height: 100%;
    width: 100%;
    background-color: yellow;
    padding: 30px 30px 30px 30px;
    }
.tabele{
    padding: 30px 30px 30px 30px;
    height: 100%;
    width: 100%;
    background-color: red;
}
.h1-title{
    color:white;
    background-color: yellow;
    width: auto;
    margin-bottom: 25px;
    margin-top: 25px;
}
.input-title[type="text"]{
    
    height: 50px;
    width: 100%;
    font-size: large;
  

}
.input-title::placeholder{
    color:black;
  
    font-size: large;
}
.h1-author{
    margin-top: 25px;
    margin-bottom: 25px;
    color:white;
    background-color: yellow;
    width: auto;
}
.input-author[type="text"]{
   
    height: 50px;
    width: 100%;
    font-size: large;

}
.input-author::placeholder{
    color:black;
    
    font-size: large;
}
.h1-isbn{
    margin-top: 25px;
    margin-bottom: 25px;
    color:white;
    background-color: yellow;
    width: 100px;
}
.input-isbn[type="text"]{
  
    height: 50px;
    width: 100%;
    font-size: large;

}
.input-isbn::placeholder{
    color:black;
  
    font-size: large;
}

table,th,td{
    padding:5px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    
}
tr{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.dugme{
    width: 100%;
    margin-top: 25px;
    height: 50px;
    background-color: white;
    cursor: pointer;
}
.dugme:hover{
    background-color: red;
}